
* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   scroll-behavior: smooth;
 }
 
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */
 
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
    display: block;
 }
 body {
   font-size: 16px;
   overflow-x: hidden;
 }
 ol, ul {
    list-style: none;
 }
 
 .container{
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 30px;
 }
 
 /*tipografia */
 :root{
   --cor-1:#20222F;
   --cor-2:#8C94BB;

   --font-main:'Inter', sans-serif;
 
   --font-size-p:1em;/*16px*/
   --font-size-h6:1.125em;/*18px */
   --font-size-h5:1.375em;/*22px */
   --font-size-h4:1.5em;/*24px*/
   --font-size-h3:2em;/*32px*/
   --font-size-h2:3em;/*48px*/
   --font-size-h1:3.5em;/*56px*/
   --line-height:1.4em;
   --line-height-2:1.5em;
 }
 
 @media only screen and (max-width: 990px) {
   :root{
     --font-size-h6:1em;/*16px */
     --font-size-h5:1.125em;/*18px */
     --font-size-h4:1.5em;/*24px*/
     --font-size-h3:1.5em;/*24px*/
     --font-size-h2:2em;/*32px*/
     --font-size-h1:3em;/*48px*/
   }
 }
 
 @media only screen and (max-width: 500px) {
   :root{
     --font-size-h5:1em;/*18px */
     --font-size-h4:1.5em;/*24px*/
     --font-size-h3:1.125em;/*18px*/
     --font-size-h2:1.5em;/*24px*/
     --font-size-h1:2em;/*32px*/
   }
 }
 